<%= form_for(event, html: { multipart: true }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :dateOfEvent %>
    <%= f.date_select :dateOfEvent %>
  </div>

  <div class="field">
    <%= f.label :timeOfEvent %>
    <%= f.time_select :timeOfEvent %>
  </div>

  <div class="field">
    <%= f.label :venue %>
    <%= f.text_field :venue %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :maximumParticipants %>
    <%= f.number_field :maximumParticipants %>
  </div>

  <div class="field">
    <%= f.label :minimumParticipants %>
    <%= f.number_field :minimumParticipants %>
  </div>

  <div class="field">
    <%= f.label :participantsMustBring %>
    <%= f.text_area :participantsMustBring %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>

<script type="text/javascript">
  $('#event_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
