<p id="notice"><%= notice %></p>

<p>
  <strong>Dateofevent:</strong>
  <%= @event.dateOfEvent %>
</p>

<p>
  <strong>Timeofevent:</strong>
  <%= @event.timeOfEvent %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue %>
</p>

<p>
  <strong>Price:</strong>
  <%= @event.price %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Maximumparticipants:</strong>
  <%= @event.maximumParticipants %>
</p>

<p>
  <strong>Minimumparticipants:</strong>
  <%= @event.minimumParticipants %>
</p>

<p>
  <strong>Participantsmustbring:</strong>
  <%= @event.participantsMustBring %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @event.notes %>
</p>
<p>
  <strong>Picture:</strong><br>
  <%= image_tag @event.picture.url if @event.picture? %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
